{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for blog in blog %}
                {% include "includes/card/blog-listing-card.html" %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% for blog in blog %}
                {% include "includes/card/blog-listing-card_1.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}



<!-- <div class="container" style="margin-bottom: 10px;">
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <a target="_blank" href="#">
                    <img id="img138409486233" src="https://tpc.googlesyndication.com/simgad/5548998732382668556?">
                </a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div> -->

<!-- <div class="row" style="margin-top: 20px;">
            <div class="col-md-3">
                <div>
                    <ul style="padding-left: 28px;">
                        {% for s in series %}
                        <li>
                            <a href="{{ s.url }}">{{ s.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col-md-6">
                <div style="border-radius: 0.5rem; padding: 8px;">
                    {% for b in blog %}
                    <div class="card" style="width: 42rem; height: 30rem; padding: 2px; background-color: white;">
                        <img src="{{ b.image.file.url }}" class="card-img-top" alt="..."
                            style="border-radius: 0.5rem; height: 420px">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{{ b.url }}">{{ b.title }}</a>
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <ul style="padding-left: 28px;">
                        {% for t in teams %}
                        <li>
                            <a href="{{ t.url }}">{{ t.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> -->